@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.background {
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  flex-direction: row;
  padding: 0 2rem;
}

.image,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image img {
  width: 30vmax;
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__avatar {
  width: 100px; 
}

.form__title{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}

.form__input{
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 1px solid #d9d9d9;
}

.form__input.one{
}

.form__input.two{
}

.form__i {
  display: flex;
  justify-content: center;
  align-items: center;
}